# Catkin build files
build/
devel/
install/
src/v5_hal/firmware/include/ros_lib/*

# Compiled Object files
*.o
*.obj

# Executables
*.bin
*.elf

# PROS
bin/
compile_commands.json
temp.log
temp.errors
*.ini
.d/
.vscode/settings.json
.vscode/c_cpp_properties.json
.history/
