# Catkin build files
build/
devel/
install/
src/v5_hal/firmware/include/ros_lib/*
src/CMakeLists.txt

# Compiled Object files
*.o
*.obj

# Executables
*.bin
*.elf

# PROS
bin/
compile_commands.json
temp.log
temp.errors
*.ini
.d/

# VSCode
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
.history/
